/* Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
/* Raleway */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap'); 
/* Quicksand */
@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Raleway:wght@300&display=swap');
/* Inconsolata */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=PT+Serif&display=swap');

.App {
  height: 100%;
  text-align: center;
  font-family: Helvetica, sans-serif;
  color: white;
}

html, body {  
  min-height: 100%;
  margin: 0; 
  background-image: url('https://wallpaperaccess.com/full/2862102.jpg');
  background-size: cover;
  box-shadow:inset 0 0 0 4000px rgba(0, 0, 0, 0.88);
}

button {
  border: none;
  background-color: #8a5858;
  border-radius: 18px;
  padding: 8px 18px;
  color: whitesmoke;
  cursor: pointer;
}
button:hover {
  background-color: #eddfc2;
}

input {
  border: none;
  padding: 2px;
  border-radius: 5px;
}


/* -------- LEFT DASHBOARD -------- */

.left-dash {
  height: 100%;
  color: black;
  background-color: rgba(255, 255, 255, 0.43);
  justify-content: center;
  align-items: center;
  flex: 20%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  animation: slide-in 0.5s ease-in-out forwards;
}

@keyframes slide-in {
  from {
    opacity: 0;
    visibility: hidden; 
    transform: translateX(-25px);
  } 
  to {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
  }
}

@media (max-width: 1024px) {
  .left-dash {
    flex: 80%;
  }
}


/* -------- LANDING PAGE -------- */

#landing-page {
  min-height: 100vh;
  min-width: 100vw;
  background-image: url('https://images.squarespace-cdn.com/content/v1/600ab32b90fa23772e2d9402/1611822416820-GI4X5GX8Q4GR0GJ538GZ/site_background.jpg');
  background-size: cover;
  box-shadow:inset 0 0 0 4000px rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.repo {
  text-decoration: none ;
  color: gold !important; 
}

.repo:hover {
  color:white;
  text-decoration:none;
  cursor:pointer;
  transform: scale(1.15);
  border-bottom: 2px solid gold !important;
}

.nav-bar {
  width: 50%;
  height: 35px;
  margin-top: 5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  animation: drop-down 0.4s ease-in-out forwards; 
}

.home-logo {
  margin: 50px 0 50px 0;
  width: 100px; 
  height: auto;
  animation: drop-down 0.4s ease-in-out forwards; 
}

.logo-spacing {
  height: 100px;
  margin-top: 20px;
}

.small-logo {
  width: auto; 
  height: 100px; 
  margin-top: 20px;
  animation: drop-down 0.4s ease-in-out forwards; 
}

.nav-bar-element {
  height: 100%; 
  font-size: 20px;
  font-weight: 300;
  margin: 0 20px 0 20px; 
}

.nav-bar-element a {
  text-decoration: none;
  color: whitesmoke;
}

.nav-bar-element:hover {
  transform: scale(1.15);
  border-bottom: 2px solid white !important;
  cursor: pointer;
}

.sign-up-button {
  text-decoration: none;
  color: whitesmoke;
  padding: 20px 30px 20px 30px;
  font-size: 20px; 
  font-weight: 500;
  border: 2px solid whitesmoke; 
  animation: drop-down 0.4s ease-in-out forwards; 
}

.sign-up-button:hover {
  font-weight: 600;
  background-color: whitesmoke; 
  color:rgba(0, 0, 0, 0.88);
  cursor: pointer; 
}

.phrase {
  color: rgb(214, 191, 62);
  margin-bottom: 50px;
  font-size: 20px;
  font-weight: 500;

}

.contact {
  margin-top: 60px;
  width: 55%; 
  text-align: left;
  font-weight: 300;
  font-size: 20px;
  animation: drop-down 0.4s ease-in-out forwards; 
}

.contact .info, .creators {
  margin: 10px 0 40px 0;
}

.contact .creators h3 {
  font-weight: 500;
}
