.center-dash {
    /* height: 100%; */
    color: white;
    flex: 55%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* background-color: thistle; */
  }
  
  .center-dash .heading {
    /* background-color: teal; */
    text-align: left;
    padding: 10px 15px 15px 15px;
    animation: drop-down 0.5s ease-in forwards; 
  }

  @keyframes drop-down {
    from {
      opacity: 0; 
      visibility: hidden; 
      transform: translateY(-25px); 
    }
    to {
      opacity: 1; 
      visibility: visible; 
      transform: translateY(0px); 
    }
  }

  .center-dash .greeting {
    font-size: 50px;
    font-weight: 600;
  }

  .center-dash .time-greeting {
    font-weight: 300;
    font-size: 32px;
  }

  .center-dash .here-tasks {
    margin-top: 20px;
    font-size: 24px;
  }

  @media (max-width: 1024px) {
    .center-dash {
      flex: 10%; 
    }
  }