.right-dash {
    height: 100%;
    flex: 25%;
    align-items: center;
    display: flex;
    flex-direction: column;
    animation: slide-left 0.5s ease-in-out forwards; 
  }
  
  .right-dash .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 94%;
    font-size: 32px;
    font-weight: 600;
    text-align: left;
    margin: 5px 0 0 0px;
  }
  
  @keyframes slide-left {
    from {
      opacity: 0; 
      visibility: hidden;
      transform: translateX(25px); 
    }
    to {
      opacity: 1; 
      visibility: visible;
      transform: translateX(0);
    }
  }

  /* -------- METER -------- */
  
  .WL-meter {
    margin: 12px 0 0 0;
    width: 80%;
    text-align: center;
    font-size: 20px;
    color:black;
    flex: 35%;
    background-color: rgba(255, 255, 255, 0.43);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .WL-meter .meter {
    width: 95%;
    height: 95%;
    overflow: auto;
    margin-bottom: 12px;
  }
  
  .WL-meter .meter .meter-caption {
    width: 100%; 
    font-size: medium;
    font-weight: 300;
  }
  
  .donutchart-innertext-label {
    display: none;
  }
  
  .donutchart-innertext-value {
    font-size: 20px;
  }
  
  /* -------- UPCOMING TASK -------- */
  
  .upcoming-task {
    flex: 15%;
    width: 80%;
  }
  
  /* -------- ADD TASK BAR -------- */
  
  .add-task-bar {
    color: black;
    display: flex;
    flex-direction: column;
    width: 80%;
    flex: 50%; 
    text-align: center;
    background-color: rgba(255, 255, 255, 0.43);
    border-radius: 15px;
    margin-bottom: 12px;
    align-items: center;
    overflow: auto;
  }
  
  .add-task-bar .buttons {
    margin: 8px 0 12px 0;
  }

  .add-task-bar .buttons button {
    border: 2px solid black; 
    background-color: transparent; 
    border-radius: 18px;
    padding: 8px 18px;
    color: black;
    font-weight: 700;
    cursor: pointer;
  }

  .add-task-bar button:hover {
    background-color: black;
    color: white;   
  }

  .add-task-bar button:disabled {
    background-color: black;
    color: white;   
    cursor: default;
  }

/* -------- TASK FORM -------- */

  .task-form {
    width: 100%;
  }

  .form-error {
    font-size: small;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .task-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .task-form-field {
    font-weight: 300;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    flex-direction: row;
    margin: 10px;
  }
  
  .task-form-field .form-label {
    flex: 50%; 
    display: flex;
    justify-content: flex-start;
  }
  
  .task-form-field .form-input {
    display: flex;
    justify-content: flex-start;
    flex: 50%;
  }

  .task-form-field .form-input input {
    padding: 3px 6px 3px 6px;
    border: 1px solid black; 
    margin: 0 5px 0 5px;
    background-color: transparent;
  }

  #submit-cancel button {
    border: 2px solid black; 
    background-color: transparent; 
    border-radius: 18px;
    padding: 8px 18px;
    color: black;
    font-weight: 700;
    cursor: pointer;
  }

  #submit-cancel button:hover {
    background-color: black;
    color: white;   
  }

  @media (max-width: 1024px) {
    .right-dash {
      flex: 1;
    }
  }