/* -------- SETTINGS -------- */

.setting-profile-screen {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: whitesmoke;
    background-size: cover;
    box-shadow:inset 0 0 0 4000px rgba(0, 0, 0, 0.94);
    background-image: url('https://wallpaperaccess.com/full/2862102.jpg');
  }
  
  .settings-container {
    min-height: 100vh;
    width: 40vw; 
    font-size: larger;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
  }
  
  .settings-container .header, .profile-page-container .header {
    width: 100%;
    font-size: 56px;
    font-weight: 600;
    text-align: left;
    margin-left: 20px;
  }
  
  .settings-container .display-name {
    font-size: 50px;
  }
  
  .settings-container .upload-pic {
    margin: 10px 0 25px 0;
  }
  
  .profile-pic {
    background-color: whitesmoke;
    width: 250px;
    height: 250px;
    border: 1px solid gray;
    border-radius: 250px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .back {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #8a5858;
    padding: 10px 20px 10px 14px;
    border-radius: 30px;
    color: whitesmoke;
    cursor: pointer; 
  }
  
  .exit {
    display: flex;
    align-content: left;
    margin-top: -10px;
    margin-left: -10px;
    margin-bottom: 5px;
  }
  
  .reauth {
    display: flex;
    flex-direction: column;
  }

  .reauth input {
    border: 1.5px solid #333333;
    padding: 5px 10px 5px 10px;
    background-color: transparent;
    color: black;
  }
  
  .reauth .label {
    margin: 10px 0 10px 0;
  }
  
  .toggle-reauth {
    cursor: pointer; 
    color: grey;
    margin: 2.5px 0 2.5px 0;
    text-decoration: underline;
  }
  
  .settings-form {
    display: flex;
    flex-direction: column;
  }
  
  .settings-form .form-field {
    margin: 5px 0 5px 0;
  }
  
  .settings-form input, .upload-pic input {
    color: whitesmoke;
    padding: 5px 10px 5px 10px;
    border: 1px solid whitesmoke;
    background-color: transparent
  }

  .settings-form .form-buttons {
    margin: 10px 0 15px 0;
  }
  
  .notif {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: small;
    border: 1px solid black; 
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    margin: 5px 0 5px 0;
  }

  .toggle-reauth:hover {
    transform: scale(1.15);
  }
  
  /* -------- PROFILE -------- */
  
  .profile-page-container {
    height: 100vh;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .profile {
    flex: 0.4; 
    display: flex;
    flex-direction: column;
    font-size: larger;
    align-items: center;
    justify-content: center;
  }
  
  .credentials {
    width: 100%;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .profile .credentials .display {
    font-size: 50px;
  }
  
  .profile-field {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
  }
  
  .profile-field .label {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .profile .link {
    text-decoration: underline;
    font-size: medium;
  }
  
  .profile .link:hover {
    transform: scale(1.10);
  }
  
  
  /* -------- STONKER -------- */
  
  .stonker {
    width: 100%;
    height: 100%;
    flex: 0.6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
  }

  .stonker .caption {
    margin: 8px 0 0 0;
    color: gray; 
    font-size: medium;
    font-weight: 300;
  }

  @media (max-width: 1024px) {
    .setting-profile-screen {
      align-items: flex-start;
      min-width: 100%;
      min-height: 100%;
      /* background-color: blue; */
    }

    .profile-page-container {
      min-width: 100%;
      flex-direction: column;
      margin-top: 70px;
    }

    .settings-container {
      width: 90%;
      margin: 70px 0 30px 0;
    }

    .profile-page-container .header {
      margin: 0;
      width: 90%;
      align-self: center;
    }

    .settings-container .header {
      margin: 0 0 10px 0; 
      width: 100%;
    }

    .profile {
      width: 100%;
      padding-bottom: 30px;
    }

    .stonker {
      flex: 1;
      width: 100%;
    }
  }