.signup-login {
    height: 100vh;
    width: 100vw;
    /* background-color: #4a2f2f; */
    background-color: black;
    color: white; 
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
  }
  
  .signup-login .form-container {
    margin-top: 15px;
    border-left: 2.4px solid white;
    /* background-color: #f3eee9; */
    font-size: 20px;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    padding: 5px 10px 5px 10px;
    justify-content: center;
  }
  
  /* .signup-login .form-container .error {
    padding: 0px 20px 0px 20px; 
    background-color: pink;
    border-radius: 10px;
    font-size: small;
  } */
   .error {
    margin: -40px 0 5px 0; 
    width: 100%;
    color: pink;
    border: 1px solid pink; 
    border-radius: 10px;
    font-size: small;
  }
  
  .signup-login .form-container .header {
    padding: 0px 10px 50px 10px;
    font-size: 56px;
    font-weight: 600;
    text-align: left;
  }
  
  .signup-login .form-container .footer {
    margin-top: 100px;
    width: 100%;
    margin-bottom: 10px;
  }
  
  .signup-login .form-container .footer a {
    text-decoration: none;
    color: #8a5858;
  }
  
  .signup-login .form-container .field-container {
    display: flex;
    flex-direction: column;
    padding: 10px; 
  }
  
  .signup-login .form-container .field-container .caption {
    flex: 50%; 
    color: gray;
    font-size: small;
    margin-top: 5px;
    /* background-color: salmon; */
  }
  
  .signup-login .form-container .signup-login-field {
    flex: 50%; 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  
  .signup-login .form-container .signup-login-field .lab,.in {
    flex: 0.5;
  }
  
  .signup-login button {
    background-color: transparent;
    border: 1.4px solid white; 
    margin-top: 15px;
    border-radius: 18px;
    padding: 10px 24px;
    cursor: pointer;
    font-size: medium;
    font-weight: 600;
  }
  
  .signup-login button:hover {
    background-color: white;
    color: black;
  }
  
  .signup-login .form-container .signup-login-field input {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    flex: 60%;
    padding: 8px;
  }