/* Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); 
/* Raleway */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap'); 
/* Quicksand */
@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Raleway:wght@300&display=swap');
/* Inconsolata */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=PT+Serif&display=swap');

.App {
  min-height: 100%;
  min-width: 100%; 
  text-align: center;
  /* font-family: Roboto; */
  font-family: Inconsolata, serif;

  color: black;
  background-color: #f3eee9;
}

body {  
  height: 100%;   
  margin: 0; 
}

button {
  border: none;
  background-color: #8a5858;
  border-radius: 18px;
  padding: 8px 18px;
  color: whitesmoke;
  cursor: pointer;
}
button:hover {
  background-color: #eddfc2;
}

input {
  border: none;
  padding: 2px;
  border-radius: 5px;
}

/* -------- DASHBOARD -------- */

.main-dash {
  width: 100%;  
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-dash .navbar {
  width: 100%; 
  flex: 9%;
  /* background-color: #eddfc2; */
  /* background-color: #8a5858; */
  background-color: #4a2f2f;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 99;
  border-bottom: 0.5px solid #f3eee9;
}

.main-dash .navbar .left {
  flex: 50%; 
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.main-dash .navbar .right {
  flex: 50%; 
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.main-dash .navbar .element {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 30px;
  margin-left: 30px; 
}

.main-dash .navbar .element button {
  background-color: #eddfc2;
  padding: 10px 23px;
  color: #4a2f2f;
  border-radius: 28px;
}

.main-dash .container {
  width: 100%;  
  display: flex;
  flex-direction: row;
  flex: 91%;
}

.dash {
  flex: 1;
  display: flex;
  flex-direction: column;
  height : 100%;
  width: 100%; 
}

.stevie-boy {
  width: 100%; 
  align-self:flex-end;
}

/* -------- LEFT DASHBOARD -------- */

.left-dash {
  height: 100%;
  color: whitesmoke;
  /* background-color: #8a5858; */
  background-color: #4a2f2f;
  justify-content: center;
  align-items: center;
  flex: 20%;
  display: flex;
  flex-direction: column;
}

.left-dash .other-date-select {
  padding: 15px;
}

.left-dash .other-date-select .fields {
  display: flex; 
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.left-dash .other-date-select .fields button {
  margin-left: 7px;
  padding: 5px 5px;
  color: #4a2f2f; 
  background-color: #eddfc2;
}

.left-dash .dates-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 2px solid red; */
}

.left-dash .dates-container .date {
  cursor: pointer;
  width: 100%;
  flex: 14.3%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/* -------- CENTER DASHBOARD -------- */

.center-dash {
  height: 100%;
  color: black;
  flex: 55%;
  display: flex;
  justify-content: center;
}

.center-dash .container {
  width: 100%;
  margin: 4%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* -------- RIGHT DASHBOARD -------- */

.right-dash {
  height: 100%;
  flex: 25%;
  align-items: center;
  display: flex;
  flex-direction: column;
}

/* -------- METER -------- */

.WL-meter {
  width: 80%;
  text-align: center;
  font-size: 20px;
  color:black;
  flex: 35%;
  background-color: whitesmoke;
  border-radius: 15px;
}

.WL-meter .meter {
  padding: 5%;
}

.WL-meter .meter .meter-caption {
  width: 100%; 
  font-size: medium;
  color: 'grey';
}

.donutchart-innertext-label {
  display: none;
}

.donutchart-innertext-value {
  font-size: 20px;
}

/* -------- UPCOMING TASK -------- */

.upcoming-task {
  flex: 15%;
  width: 80%;
}

/* -------- ADD TASK BAR -------- */

.add-task-bar {
  display: flex;
  flex-direction: column;
  min-width: 80%;
  flex: 50%; 
  text-align: center;
  background-color: whitesmoke;
  border-radius: 15px;
}

.add-task-bar .fields {
  padding-bottom: 8%;
}

/* -------- LANDING PAGE -------- */

#landing-page {
  display: flex;
  flex-direction: column;
}

#apology {
  font-size: 120px;
}

.nav-bar {
  position: fixed;
  background-color: rgb(185, 229, 255);
  color: #333333;
  width: 100%;
  top: 0px;
  left: 0px;
  text-align: right;
}

nav li {
  display: inline;
  padding: 20px;
}

/* -------- SIGNUP/LOGIN PAGE -------- */

.signup-login {
  height: 100vh;
  width: 100vw;
  background-color: #4a2f2f;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.signup-login .form-container {
  border-radius: 25px;
  background-color: #f3eee9;
  color: #4a2f2f;
  display: flex;
  flex-direction: column;
  padding: 20px 10px 20px 10px;
}

.signup-login .form-container .error {
  padding: 0px 20px 0px 20px; 
  background-color: pink;
  border-radius: 10px;
}

.signup-login .form-container .header {
  padding: 12px;
}

.signup-login .form-container .footer {
  margin-top: 20px;
  padding: 10px;
}

.signup-login .form-container .footer a {
  text-decoration: none;
  color: #8a5858;
}

.signup-login .form-container .signup-login-field {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.signup-login .form-container .signup-login-field .lab {
  flex: 40%;
}

.signup-login .form-container .signup-login-field input {
  flex: 60%;
  padding: 5px;
}


/* -------- TASK FORM -------- */

.task-form {
  margin-top: -20px;
}

.task-form-field {
  margin: 5px;
}

/* -------- TASK MANAGER -------- */

.task-manager {
  /* margin: 2%; */
  width: 100%;
  flex: 1; 
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

.task-manager .task {
  height: 45px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 20px;
  border: 6px solid #f3eee9;
  background-color: whitesmoke;
}

.task-manager .task .name {
  flex: 60%
}

.task-manager .task .check, .time, .type, .delete {
  flex: 10%; 
}

.task-manager .edit {
  top:0; 
  left: 0; 
  height: 100vh;
  width: 100vw;
  position: fixed;
  background-color: black;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.task-manager .edit .edit-form {
  min-width: 20%;
  background-color: whitesmoke;
  padding: 25px;
  border-radius: 10px;
}

/* -------- RESPONSIVENESS -------- */

@media (max-width: 800px) {
  .main-dash {
    flex: 1; 
  }

  .main-dash .navbar {
    flex: none; 
    height: 10vh; 
  }

  .main-dash .container {
    flex: 1; 
    flex-direction: column;
    height: 100%;
    width: 100%;
  }

  .stevie-boy {
    display: none;
  }
}
