@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.App {
  min-height: 100vh;
  min-width: 100%; 
  text-align: center;
  /* padding: 20px; */
  font-family: Roboto;
  /* margin: auto; */
  color: #333333;
  /* background-color: rgb(240, 240, 236); */
  background-color: #f3eee9;
}

body {    
  margin: 0; 
  padding: 0; 
    /* background-color:#333333; */
    /* margin: -19px 0 0 0; -19px here to remove white space on the very top of the page */
    /* width: 100vw;  
    height: 100vh;  */
}

.dash {
  height : 100vh;
  width: 100vw; 
  display: flex;
  flex-direction: row;
  /* justify-content: center;
  align-items: flex-start; */
  /* margin: 0;
  padding: 0; */
}

.left-dash {
  justify-content: center;
  align-items: center;
  flex: 15%;
  /* margin: 0px auto;  */
}

.center-dash {
  background-color:white;
  color: black;
  /* margin: 0px auto; */
  flex: 60%;
  padding: 2%;
  opacity: 80%;
  justify-content: center;
}

.right-dash {
  flex: 25%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.WL-meter {
  text-align: center;
  font-size: 20px;
  color:rosybrown;
}

#landing-page {
  display: flex;
  flex-direction: column;
}

#apology {
  font-size: 120px;
}

.signup-login {
  display: block;
  padding: 10px;
}

.signup-login-field {
  margin: 15px;
}

.enter-button {
  padding: 20px 32px;
}

.nav-bar {
  position: fixed;
  background-color: rgb(185, 229, 255);
  color: #333333;
  width: 100%;
  top: 0px;
  left: 0px;
  text-align: right;
}

.task-form {
  padding: 10px;
  margin: auto;
}

.task-table {
  margin: auto;
  empty-cells: show; 
}

nav li {
  display: inline;
  padding: 20px;
}

.donutchart-innertext-label {
  display: none;
}

.donutchart-innertext-value {
  font-size: 30px;
  color: red !important
}

.donut-chart-workmeter-innertext-value {
  color: #c29311de;
}